:root{
    --bg_Dark:rgb(33, 33, 33);
    --bg:rgb(77, 77, 78);
    --bg_Light:rgb(141, 140, 140);

    --sideBarWidth:18vw;
}

html{
    font-size: 62.5%;
}

main{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* 사이드바 */
#sideBar{
    height:100%;
    width:var(--sideBarWidth);
    background-color: aqua;
}

/* 메인 컨텐츠 */
#mainContent{
    width: calc(100vw - var(--sideBarWidth));
    height:100%;
}

.subject{
    width:30%;
}

.subject_val{
    color:red
}